{% extends "base.html" %} {% block titulo %} Usuarios de MyWallapop {% endblock %}

{% block contenido_principal %}
<h2>Usuarios</h2>

<!-- Agregar Canción -->
<div class="table-responsive">
    <button type="button" id="btEliminar" >Eliminar</button>

    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-md-1"></th>
            <th>Email</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody id="cuerpo">
        {% for usuario in usuarios %}
        <tr>
            <td><input class = "checkbox" type="checkbox" name="checkbox" id={{ usuario._id.toString() }}></td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellidos }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $('#btEliminar').on('click', function() {
        console.log("vamos a borrar");
        let e = document.getElementsByName('checkbox');
        let usuariossinborrar;
        for (i = 0; i < e.length; i++){
            if (e[i].checked==true){
                $.ajax({
                    url: "/usuario/borrar/"+e[i].id,
                    data: {},
                    dataType: 'json',
                    success: function(respuesta) {
                        usuariossinborrar = respuesta;
                        actualizarTabla(usuariossinborrar);
                    },
                    error : function (error){
                        console.log(error);
                    }
                })
            }
        }
    });

    function actualizarTabla(usuariosMostrar){
        console.log(usuariosMostrar);
        $("#cuerpo").empty(); //vaciamos la tabla
        for (i=0;i<usuariosMostrar.length;i++){
            $("#cuerpo").append(
                "<tr>" +
                "<td><input class = 'checkbox' type='checkbox' name='checkbox' id=" +  usuariosMostrar[i]._id +"></td>" +
                "<td>"+ usuariosMostrar[i].email +"</td>"+
                "<td>"+ usuariosMostrar[i].nombre + "</td>"+
                "<td>"+ usuariosMostrar[i].apellidos + "</td>"+
                "</tr>");
        }
    }




</script>


{% endblock %}


